@(message: String)

@main("Welcome Excell-diff Application!") {

<div class="row-fluid" style="margin-top: 60px;">
@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Input 1</label>
		<div class="col-sm-3">
			<input type="file" class="form-control" name="srcFile">
		</div>
		<div class="col-sm-2">
			<select name="srcSheet" class="form-control">
			<option value="1" selected="selected">Sheet 1</option>
			<option value="2">Sheet 2</option>
			<option value="3">Sheet 3</option>
			<option value="4">Sheet 4</option>
			<option value="5">Sheet 5</option>
			<option value="6">Sheet 6</option>
			<option value="7">Sheet 7</option>
			<option value="8">Sheet 8</option>
			<option value="9">Sheet 9</option>
			<option value="10">Sheet 10</option>
			</select>
		</div>
	</div>

	<div class="form-group">
	<label class="col-sm-2 control-label">Input 2</label>
		<div class="col-sm-3">
			<input type="file" class="form-control" name="dstFile">
		</div>
		<div class="col-sm-2">
			<select name="dstSheet" class="form-control">
			<option value="1" selected="selected">Sheet 1</option>
			<option value="2">Sheet 2</option>
			<option value="3">Sheet 3</option>
			<option value="4">Sheet 4</option>
			<option value="5">Sheet 5</option>
			<option value="6">Sheet 6</option>
			<option value="7">Sheet 7</option>
			<option value="8">Sheet 8</option>
			<option value="9">Sheet 9</option>
			<option value="10">Sheet 10</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-info">Execute DIFF</button>
		</div>
	</div>

}
</div>

}
