@(message: String)(json:String)

@main("Welcome Excell-diff Application!") {
	
	<div style="margin: 30px 0 0 30px;">
		<div id="table" class="handsontable"></div>
	</div>
	
	<script>
		var data = @Html(json);
		
		$(function(){
		
  			$('#table').handsontable({
    			data: data,
    			colHeaders: true,
    			rowHeaders: true,
				contextMenu: true
  			});
  			
  			$('#table table').addClass('table, table-bordered, table-condenced, table-striped');

		})
	</script>

}
